.navigation {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-family: 'Roboto Light', sans-serif;
}

// .navigation__item {
//     color: rgb(55 65 81);
//     text-decoration: none;
//     cursor: pointer;
//     margin-right: 20px;
//     margin-left: 5px;

//     &:hover {
//         color: rgb(45 212 191);
//         text-decoration: underline;
//         text-decoration: none;
//     }
// }
