.container {
    margin: auto;
    width: fit-content;
    top: 30%;
    position: relative;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 86, 94, 0.8);
    z-index: 1020;
}