.header.is-sticky {
    height: 60px;
    position: sticky;
    animation: fadeInDown 0.5s ease-out;

}

.is-sticky {
    .header__title {
        display: none;
    }

    .logo {
        margin-top: -15px;
        width: 180px;
        height: 70px;
    }
}

// @keyframes slideDown {
//     from {
//         transform: translateY(-100%);
//     }

//     to {
//         transform: translateY(0);
//     }
// }