.footer {
  color: black;
  text-align: center;
  margin-top: 600px;
}

.studOne {
  background-image: url('https://avatars.githubusercontent.com/u/88935233?v=4');
}

.studTwo {
  background-image: url('https://avatars.githubusercontent.com/u/93903876?v=4');
}

.studThree {
  background-image: url('https://avatars.githubusercontent.com/u/106694274?v=4');
}

.rsLogo {
  background-image: url(../../assets/rs-school-js.svg);
}
