.footer {
    color: black;
    text-align: center;
    margin-top: 600px;
}

.stud__one {
    background-image: url("https://avatars.githubusercontent.com/u/88935233?v=4");
}

.stud__two {
    background-image: url("https://avatars.githubusercontent.com/u/93903876?v=4");
}

.stud__three {
    background-image: url("https://avatars.githubusercontent.com/u/106694274?v=4");
}

.rs-logo {
    background-image: url(../../assets/rs-school-js.svg);
}