.error_wrapper {
    margin-top: 100px;
    color: #000000;
    text-align: center;

    .error_code {
        font-family: 'Roboto', sans-serif;
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .error_description {
        font-family: 'Roboto Light', sans-serif;
        font-size: 3rem;
        margin-bottom: 100px;
    }

    .error_animation {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        background-repeat: no-repeat;
        height: 400px;
        background-position: center;
    }
}